# Python & Environments
__pycache__/
*.py[cod]
.env
venv/
env/
.venv/

# ML & Data (ASLA GITHUB'A ATILMAMALI)
data/
outputs/
logs/
plots/
*.safetensors
*.bin

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/
CODEBASE_MAP.txt
veriler/
outputs/
*.csv
*.json
*.pt
*.pth
